@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #B1F49D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.img-container {
    width: 200px;
    height: 50px;
}

.logo-img {
    width: 100%;
    position: relative;
    bottom: 30px;
}

.search-bar {
    width: 500px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    padding: 5px;
    color: #fff;
}

.search-bar button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.user-icons ion-icon {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.user-icons :hover{
    color: #199ebf;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
}

.items {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item {
    display: flex;
    align-items: top;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    width: 700px;
    height: 220px;
}

.image {
    flex: 1;
    margin-right: 20px;
    position: relative;
}

.image img {
    max-width: 100%;
}

.details {
    flex: 2;
    padding: 20px;
}

.details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.buttons {
    position: relative;
    left: 170px;
    bottom: 60px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.buttons button {
    border: none;
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.price {
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    left: 430px;
    bottom: 100px;
    font-size: 18px;
    color: #333;
    background-color: #E7E7E7;
    width: 60px;
    border-radius: 5px;
}

.actions {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    top: 130px;
    right: 520px;
    height: 100px;
    width: 100px;
}

.actions button {
    position: relative;
    margin: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.actions button.buy {
    background-color: #999896;
}

.actions button.delete {
    background-color: #999896;
}

.actions button.buy:hover {
    background-color: #3e8e41;
}

.actions button.delete:hover {
    background-color: #e53935;
}

.receipt {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.receipt h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    padding: 20px;
    background-color: #f5f5f5;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.total-items {
    display: flex;
    align-items: center;
}

.total-items .label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.total-items .value {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.total-price .label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.total-price .value {
    font-size: 24px;
    font-weight: 600;
    color: #4CAF50;
}

.buy {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.buy:hover {
    background-color: #3e8e41;
}

.delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.delete:hover {
    background-color: #e53935;
}

#empty-cart-message{
    position: relative;
    top: 200px;
    left: 50px;
    font-size: 30px;
    font-weight: 600;
    color: #333;
    background-color: #f5f5f5;
}
