@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #B1F49D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    height: 330vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9FFF9;
}

.img-container {
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.logo-img {
    width: 100%;
    position: relative;
    bottom: 10px;
}

.search-bar {
    width: 500px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    padding: 5px;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.user-icons ion-icon {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.user-icons :hover{
    color: #1B6406;
}

.img-slider{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 500px;
    margin-bottom: 500px;
    background: #F9FFF9;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
}


.img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info{
        padding: 10px 25px;
    }

    .img-slider .slide .info h2{
        font-size: 35px;
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;
    }

    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

.sections {
    position: relative;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding-top: 20px;
    background-color: #F9FFF9;
}
  
.section {
    position: relative;
    top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 0 0 auto;
    width: 95%; 
    border-radius: 15px;
    overflow: hidden;
}
  
.section-container {
    display: flex;
    padding: 15px;
    height: 350px;
    background-color: #E7E7E7;
    border-radius: 0 0 15px 15px;
}
  
.item-container {
    position: relative;
    flex: 0 0 auto;
    width: 235px; 
    margin-right: 17.5px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.item-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
  
.item-img-container {
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
  
.item-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
  
.item-description-container {
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 0 0 15px 15px;
    color: #fff;
    height: 500px;
}
  
.item-name h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.item-price h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}
  
.item-info p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.like-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #838a96;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
    shape-rendering: auto;
}

.like-button.active .like-icon {
    color: #609D4A;
}
  
.like-icon:hover {
    color: #609D4A;
}

.section-title {
    height: 40px;
    background: #D9D9D9; 
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
}

.section-title h2{
    line-height: 40px;
    font-size: 30px;
    font-weight: 500;
}

.categorias-populares{
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 20px;
    background-color: #F9FFF9;
    justify-content: space-between;
}

.categorias-populares-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
  
.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.categoria:hover {
    color: #199ebf;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
  
.categoria ion-icon {
    font-size: 2rem;
    margin-bottom: 10px;
}
  
.categoria h3 {
    font-size: 1rem;
}

.apartado-empresas {
    position: relative;
    top: 10px;
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    border-radius: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.titulo-apartado-empresas {
    
}
  
.titulo-apartado-empresas h2 {
    
}
  
.titulo-apartado-empresas a {
    position: relative;
    bottom: 28px;
    left: 390px;
    text-decoration: none;
    color: #F9FFF9;
    
}

.titulo-apartado-empresas a:hover {
    text-decoration: underline;
    
}
  
.apartado-empresas-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 10px; /* Reducir el espacio entre elementos */
    padding: 10px; /* Agregar espacio alrededor del contenedor */
}

  
.item-empresa {
    background-color: #fff; /* Cambiar el color de fondo de los elementos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra para resaltar los elementos */
    width: calc(25% - 10px);
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.item-empresa:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transform: translateY(-10px);
    cursor: pointer;
}
  
.icono-empresa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
}
  
.icono-empresa img {
    border-radius: 15px;
}
  
.info-empresa h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
  
.productos-demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0vh;
}


.producto-demo img{
    width: 90px;
    margin: 5px;
    border-radius: 15px;
}
  
.ver-tienda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: #7a827c;
    text-decoration: none;
}
  
.ver-tienda:hover {
    color: #199ebf;
}

.footer {
    background-color: green;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; 
    top: 100px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-section-info {
    flex: 1;
    text-align: left;
    padding: 10px;
    margin-right: 90px;
}


.footer-section {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #199ebf;
}
