@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #B1F49D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    display: flex;
    justify-content: flex-start; /* Cambia esto a flex-start para alinear a la izquierda */
    background: #fff;
}

.img-container {
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.logo-img {
    width: 100%;
    position: relative;
    bottom: 10px;
}

.search-bar {
    width: 500px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    padding: 5px;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.user-icons ion-icon {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.user-icons :hover{
    color: #1B6406;
}

.liked-section {
    margin-top: 80px; /* Ajusta el valor del margen según tu preferencia */
}

/* Alineación de los elementos a la izquierda */
.liked-container {
    background-color: #f0f0f0;
    padding: 20px;
    width: 1345px;
    height: 700px;
}

.liked-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.liked-item {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #fff;
}

.liked-item:hover {
    cursor: pointer;
}

.liked-item img {
    width: 100%; /* Haz que todas las imágenes tengan el mismo ancho */
    height: auto;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liked-item:hover img {
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

.item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.liked-item:hover .item-info {
    opacity: 1;
    transform: translateY(0);
}

.like-button {
    position: absolute;
    font-size: 1.5em;
    top: 10px;
    right: 10px;
    color: #00ff00;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
    shape-rendering: auto;
}

.like-button:hover {
    color: #838a96;
}


