@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    background-color: #f5f5f5; /* Cambia el color de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; /* Aumenta el espacio alrededor del contenido */
}

.img-container {
    width: 200px;
    height: 50px;
}

.logo-img {
    width: 100%;
    position: relative;
    bottom: 30px;
}

.search-bar {
    width: 500px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    padding: 5px;
    color: #fff;
}

.search-bar button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.user-icons ion-icon {
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.user-icons :hover{
    color: #199ebf;
}


.post {
    max-width: none; /* Elimina el ancho máximo */
    width: 100%; /* Ocupa todo el ancho disponible */
    min-height: 100vh; /* Ocupa al menos toda la altura de la pantalla */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background: #fff; /* Fondo blanco para el contenedor principal */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
    padding: 40px; /* Aumenta el espacio alrededor del contenido */
    margin: 100px; /* Elimina el margen para ocupar toda la pantalla */
}

.post * {
    font-size: 18px; /* Aumenta el tamaño de la fuente para todos los elementos */
    line-height: 1.6; /* Ajusta el espaciado entre líneas */
}


.thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center; /* Alinea las miniaturas al centro */
}

.thumbnails img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.product {
    display: flex;
    flex: 1;
    align-items: center; /* Alinea la imagen y los detalles al centro verticalmente */
}

.image {
    flex: 1;
    margin-right: 20px;
}

.image img {
    max-width: 100%; 
    height: auto;
    max-height: 80vh; 
    width: auto; 
    display: block; 
    margin: 0 auto; 
}

.product-details {
    flex: 1;
    padding: 20px;
}

.item-name {
    font-size: 40px;
    margin-bottom: 150px;
}

.price {
    position: relative;
    bottom: 130px;
    font-size: 35px;
    font-weight: bold;
    color: #4CAF50;
}

.seller {
    position: relative;
    bottom: 120px;
    font-size: 25px;
    margin-top: 10px;
}

.highlighted-text {
    color: #199ebf; /* Color celeste */
    font-size: 25px;
}

.highlighted-text:hover{
    cursor: pointer;
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.stock{
    position: relative;
    bottom: 80px;
}

.stock h2 {
    font-size: 30px;
}
.stock p {
    position: relative;
    top: 40px;
    font-size: 25px;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3e8e41;
}

